/JavaRepo/nbproject/private/
/JavaRepo/build/
/MascotaAPP/nbproject/private/
/MascotaAP/nbproject/private/
/MascotAPP/nbproject/private/
/MascotAPP/build/
/Libro/nbproject/private/
/Libro/build/
/PooPersona/nbproject/private/
/PooPersona/build/
/PooLibro/nbproject/private/
/PooLibro/build/
/PooEjCadena/nbproject/private/
/PooEj2/nbproject/private/
/PooEj2/build/
/PooEj3/nbproject/private/
/PooEj3/build/
/PooEje4/nbproject/private/
/PooEje4/build/
/PooExtra1/nbproject/private/
/PooExtra1/build/
/PooExtra2/nbproject/private/
/PooExtra2/build/
